
/*milans css part*/
.m1{
	background-color:#75A95F;     /*home page milan*/
}
.mb2{
	background-color:#42633C; /*about page milan*/


	
}
.mb1{
	background-color:#75A95F;
}
.img-left:hover{
	transform:scale(1.05);
}
.img-left{
   
	float:left !important;
	margin:20px!important;
	display:block;
	width:40%;
	height:auto;
	transition: transform 0.3s ease;
	border-radius:20px;
   
}
.img-leftmb1{
	margin-right:50px;
}

.img-right:hover{
	transform:scale(1.05);
}

.img-right{
	float:right;
	width:35%;
	
	transition: transform 0.3s ease;
	border-radius:20px;	
	
}
.MB1{
	padding-top:50px;
	font-weight:25;
	text-align:left;
	font-size:50px;
	color:white;
	
}

.labelmb1{
	padding:10px;
	font-weight:bold;       /*label decoration*/
	display:block;
	text-align:center;
	font-size:30px;
	
}
.labelmb2{
	padding:10px;
	text-decoration-line:underline;
	
}

.listmb2{
	line-height: 1.6;
	border-color:black;            /*list decoration*/
	border-style:solid;
	float:left;
	padding:15px;
	width:50%;
	margin:50px;
	background-color:#75A95F;
	border-radius:20px;
	
	
}
.lih2m1{
	text-decoration-line:underline;
	padding:10px;
	
}
.lim1{
	padding:5px;
}


.topm1{
     float:right;
	border-style:solid;
	border-color:black;
	border-radius:30px;
	width:80%;
	background-color:#75A95F;
	margin-top:40px;
	margin-right:20px;
	
	
}
	
	

.h1mb2{
    text-align: center;
	font-size:50px;
	
	text-shadow:2px 2px 5px black;
	margin-top:30px;
	margin-bottom:30px;
	color:white;
	
}
.MB2{
	font-weight:25;
	text-align:left;
	font-size:50px;
	color:white;
	margin-top:50px;

}

.imgmb3:hover{
	transform:scale(1.05);
}

.imgmb3{
    transition: transform 0.3s ease;
	width:500px;
	height:auto;
	border-radius:10px;


}
.wrapper{
	display:flex;
	align-items:flex-start;
	gap:50px;                   /* to put image and div inline */
	padding-top:100px;
}

.wrappermb2{
	display:flex;
	align-items:flex-start;      /*to place form and the list inline */
	gap:50px;                       
	padding-top:100px;  
}
.bottommb1{
	margin:40px;
	border-color:black;
	border-style:solid;
    width:40%;
	border-radius:20px;
	
}
.formmb1{
	background-color:#75A95F;
	border-radius:20px;

}

/* google font*/
.bebas-neue-regularmb2{
	
  font-family: "Bebas Neue", sans-serif;   
  font-weight: 100;
  font-size:20px;
  font-style: normal;
 
}

.bebas-neue-regularmb3{
	
  font-family: "Bebas Neue", sans-serif;   
  font-weight: 100;
  font-size:22px;
  font-style:italic;
}

.bebas-neue-regularmb4{ 
   font-family: "Bebas Neue", sans-serif;   
  font-weight: 100;
  font-size:50px;
  text-shadow: 2px 2px 5px black;

}


.bebas-neue-regularmb5{ 
   font-family: "Bebas Neue", sans-serif;   
  font-weight: 100;
  font-size:50px;
  text-shadow: 2px 2px 1px black;
  padding-top:20px;
}

.btnm1{    
	margin:15px;     /*styling submit button*/
	width:25%;
	border-color:black;
	border-radius:10px;
}

.txtmb2{
	margin:15px;
}

.logo-imgmb1:hover{
	transform: scale(1.05);
}

.logo-imgmb1{
	 transition: transform 0.3s ease;
	height:40px;
	width:40px;
	margin:5px;
}
.imagemb3{
	
	padding-top:40px;
	padding-left:20px;
}
#popup{
	display:none;
}
#popup2{
	display:none;
	float:right;
}
#popup3{
	display:none;
	float:right;
}
.lblmb1{
	border:2px solid black;
	border-radius:50%;
}
.txtmb1{
	background-color:;
	font-size:;
	font-weight:;
}
.txtmb4{

	padding-bottom:30px;
	
}
.litemmb2{
	padding-bottom:20px;   /* making space between text on both pages */
}

.foottxtmb2{
	color:white;
	font-size:20px;   /*adjusting footer on both pages*/
	
}
.hrmb2{
	height:5px;
	background-color:white;  /* giving my hr tag new look*/
	border:none;
	
}
.spanmb1{
	background-color:grey;    /*giving my span tag new color*/
}
.spanmb2{
	background-color:grey;   
}

.link-mb2{                 /*link styling*/
	color:green;
	text-decoration:underline;
	cursor:pointer;
}

.link-mb2:hover{
     color:black;
}

	
	


	
 
	
	

	
	
	
	
	

	









/* Subheading styles */
h3 {
    color: white;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}


@media (max-width: 768px) {
    .bebas-neue-regular {
        font-size: 2rem;
    }
}

